header {
    width: 100%;
    height: 353px;
    background: no-repeat url('../assets/banner.jpg') center;
    background-size: cover;
    overflow-x: hidden;
    padding: 0 70px;

    li {
        list-style: none;
    }

    .navbar_ {
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    .navbar-links {
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        background-color: #fff;
        color: #2e1555;
        visibility: hidden;
        transform: translateX(80em);
        transition: .4s all ease-in-out;
        z-index: 55;



        ul {
            flex-direction: column;
            width: 100%;
            text-align: left;
            padding: 0;

            li {
                padding: 10px;
                margin-left: 10px;
                border-bottom: 1px solid #ccc;

                &:hover {
                    background: #494646e7
                }
            }

            .hide-link {
                display: none;
            }
        }

        .useful {
            width: 100%;
            background: #ccc;
            display: block;
        }

        .signIn {
            max-width: 95%;
            width: 100%;
            margin-top: 20px;
        }
    }

    .mobile-menu-open {
        display: block;
        visibility: visible;
        transform: translateX(0em);
        transition: transform .4s all ease-in-out;
        opacity: 1;
        z-index: 55;

    }

    .navbar-links-right {
        margin-left: 0;
        margin-top: 10px;
    }

    .navbar-mobile-icon {
        display: block;
        cursor: pointer;
    }

    .navbar-mobile-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        border-bottom: 1px solid #ccc;
        padding: 10px;
    }

    .navbar-close-icon {
        cursor: pointer;
        font-size: 25px;
    }

    @media screen and (min-width: 1026px) {


        .navbar_ {
            display: flex;
            padding: 10px %30px;

            align-items: center;
            width: 100%;

        }


        .navbar-links {
            display: flex;
            align-items: center;

            position: relative;
            flex-direction: row-reverse;
            justify-content: space-between;
            width: inherit;
            height: inherit;
            top: 4px;
            transform: translateX(0) !important;

            ul {
                margin: 0;
                padding: 0;
                display: flex !important;
                visibility: visible;
                width: fit-content;
                flex-direction: row;

                li {

                    border: none;

                    a {
                        color: #fff;
                        text-decoration: none;
                        font-weight: 400;
                        display: flex;
                        align-items: center;
                        font-size: 16px;

                        &:hover {
                            color: initial;
                        }
                    }

                    &:hover {
                        background: none;
                    }
                }

            }
        }


        .navbar-mobile-header,
        .navbar-mobile-icon,
        .hide-icon,
        .signIn,
        .useful {
            display: none;
        }

    }

}